<!-- <aside>
    <div class="top">
        <h2>DSP</h2>
        <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="#" class="active">
            <h3>Home Page</h3>
        </a>
        <a href="#" class="">
            <h3>Basic Operations</h3>
        </a>
        <a href="CrossCorr.html" class="">
            <h3>Cross Correlation</h3>
        </a>
        <a href="AutoCorr.html" class="">
            <h3>Auto Correlation</h3>
        </a>
        <a href="LinearConvolution.html" class="">
            <h3>Linear Convolution</h3>
        </a>
        <a href="CircularConvolution.html" class="">
            <h3>Circular Convolution</h3>
        </a>
        <a href="DFT.html" class="">
            <h3>Discrete Fourier Transform</h3>
        </a>
        <a href="IDFT.html" class="">
            <h3>Inverse Discrete Fourier Transform</h3>
        </a>
        <a href="Properties.html" class="">
            <h3>DFT & IDFT Properties</h3>
        </a>
        <a href="Linearity.html" class="">
            <h3>Linearity Property</h3>
        </a>
        <a href="LinearConvolutionUsingDFT&IDFT.html" class="">
            <h3>Linear Convolution Property</h3>
        </a>
        <a href="CircularConvolutionUsingDFT&IDFT.html" class="">
            <h3>Circular Convolution Property</h3>
        </a>
        <a href="CircularTimeShift.html" class="">
            <h3>Circular Timeshift Property</h3>
        </a>
        <a href="Modulation.html" class="">
            <h3>Modulation Property</h3>
        </a>
    </div> -->
    <!-- <div class="sidebar">
        <ul>
            <li class="list">
                <a href="index.html">
                    <h3>Home Page</h3>
                </a>
            </li>
            <li class="list">
        <a href="#">
            <h3>Basic Operations</h3>
        </a>
            </li>
            <li class="list">
        <a href="CrossCorr.html">
            <h3>Cross Correlation</h3>
        </a>
            </li>
            <li class="list">
        <a href="AutoCorr.html">
            <h3>Auto Correlation</h3>
        </a>
            </li>
            <li class="list">
        <a href="LinearConvolution.html">
            <h3>Linear Convolution</h3>
        </a>
            </li>
            <li class="list">
        <a href="CircularConvolution.html">
            <h3>Circular Convolution</h3>
        </a>
            </li>
            <li class="list">
        <a href="DFT.html">
            <h3>Discrete Fourier Transform</h3>
        </a>
            </li>
            <li class="list">
        <a href="IDFT.html">
            <h3>Inverse Discrete Fourier Transform</h3>
        </a>
            </li>
            <li class="list">
        <a href="Properties.html">
            <h3>DFT & IDFT Properties</h3>
        </a>
            </li>
            <li class="list">
        <a href="Linearity.html">
            <h3>Linearity Property</h3>
        </a>
            </li>
            <li class="list">
        <a href="LinearConvolutionUsingDFT&IDFT.html">
            <h3>Linear Convolution Property</h3>
        </a>
            </li>
            <li class="list">
        <a href="CircularConvolutionUsingDFT&IDFT.html">
            <h3>Circular Convolution Property</h3>
        </a>
            </li>
            <li class="list">
        <a href="CircularTimeShift.html">
            <h3>Circular Timeshift Property</h3>
        </a>
            </li>
            <li class="list">
        <a href="Modulation.html">
            <h3>Modulation Property</h3>
        </a>
            </li>
        </ul>
    </div> -->